          <!-- page header -->
          <div class="pageheader">
            

            <h2><i class="fa fa-puzzle-piece" style="line-height: 48px;padding-left: 5px;"></i> Tables <span>// Place subtitle here...</span></h2>
            

            <div class="breadcrumbs">
              <ol class="breadcrumb">
                <li>You are here</li>
                <li><a href="index.html">Minimal</a></li>
                <li><a href="tables.html">Tables</a></li>
                <li class="active">Bootstrap Tables</li>
              </ol>
            </div>


          </div>
          <!-- /page header -->
          
          <!-- content main container -->
          <div class="main">

            <!-- row -->
            <div class="row">
           
              <!-- col 12 -->
              <div class="col-md-12">
                            
                <!-- tile -->
                <section class="tile transparent">

                  <!-- tile header -->
                  <div class="tile-header transparent">
                    <h1><strong>Basic</strong> Datatable </h1>
                    <span class="note">including: <span class="italic">multi-column sorting and row select</span></span>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body color transparent-black rounded-corners">
                    
                    <div class="table-responsive">
                    <form action="index.php?admin=1&c=menus&a=batch" method="post">
                      <table  class="table table-datatable table-custom" id="basicDataTable" >
                        <thead>
                          <tr id="xlr">
                          <th class="sort-alpha" style="font-size:18px; font-weight:900; color:pink;"><input type="submit" value="全部删除"></th>
                            <th class="sort-alpha" style="font-size:18px; font-weight:900; color:pink;">类名</th>
                            <th class="sort-alpha" style="font-size:18px; font-weight:900; color:pink;">排序</th>
                            <th class="sort-alpha" style="font-size:18px;">PID</th>
                            <th class="sort-alpha" style="font-size:18px; font-weight:900; color:pink; text-align:center;">操作</th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                          <!-- 第一个表格 -->
                          <?php foreach ($data as $key => $value){?>
                          <tr class="gradeA" >
                                  <td><input name = "id[]" class="idd" type = "checkbox" value = "<?=$value['id']?>"><?=$value['id']?></td>
                                  <td class="name"><?php 
                                  if($value['child']==1){
                                    echo $value['name'].'<i class="icon-plus plus" lv="0" style="cursor:pointer"></i>';
                                  }else{
                                  echo $value['name'];}?></td>
                                  <td class="order"><?=$value['order']?></td>
                                  <td class="pid"><?=$value['pid']?></td>
                                  <td class="actions text-center" style="text-align:center;">
                                    <i class="icon-edit"></i>
                                    <a class="edit" href="index.php?admin=1&c=menus&a=edit&id=<?=$value['id']?>">编辑</a>
                                    <i class="icon-trash"></i>
                                    <a class="delete" onclick="return confirm('确定要删除吗')" href="index.php?admin=1&c=menus&a=delete&id=<?=$value['id']?>">删除</a>
                                  </td>
                                  
                          </tr>
                          <?php }?>              
                          <!-- 第一个 表格结束 -->                
                        </tbody>
                      </table>
                      
                      </form>
                    </div>

                  </div>
                  <!-- /tile body -->
                
                </section>
                <!-- /tile -->


              </div>
              <!-- /col 12 -->


              
            </div>
            <!-- /row -->
          


          </div>
          <!-- /content container -->






        </div>
        <!-- Page content end -->




        <div id="mmenu" class="right-panel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#mmenu-users" data-toggle="tab"><i class="fa fa-users"></i></a></li>
            <li class=""><a href="#mmenu-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
            <li class=""><a href="#mmenu-friends" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
            <li class=""><a href="#mmenu-settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
          </ul>
              
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="mmenu-users">
              <h5><strong>Online</strong> Users</h5>

              <ul class="users-list">
                
                <li class="online">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/ici-avatar.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

                <li class="online">
                  <div class="media">
                    
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/arnold-avatar.jpg" alt>
                    </a>
                    <span class="badge badge-red unread">3</span>

                    <div class="media-body">
                      <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
                      <span class="badge badge-outline status"></span>
                    </div>

                  </div>
                </li>

                <li class="online">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/peter-avatar.jpg" alt>

                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Peter <strong>Kay</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Kosice, Slovakia</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

                <li class="online">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/george-avatar.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">George <strong>McCain</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Prague, Czech Republic</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

                <li class="busy">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/random-avatar1.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Lucius <strong>Cashmere</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

                <li class="busy">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/random-avatar2.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Jesse <strong>Phoenix</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Berlin, Germany</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

              </ul>

              <h5><strong>Offline</strong> Users</h5>

              <ul class="users-list">
                
                <li class="offline">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/random-avatar4.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Dell <strong>MacApple</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Paris, France</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

                <li class="offline">
                  <div class="media">
                    
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/random-avatar5.jpg" alt>
                    </a>

                    <div class="media-body">
                      <h6 class="media-heading">Roger <strong>Flopple</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Rome, Italia</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                    
                  </div>
                </li>

                <li class="offline">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/random-avatar6.jpg" alt>

                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Nico <strong>Vulture</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Kyjev, Ukraine</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

                <li class="offline">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/random-avatar7.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Bobby <strong>Socks</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Moscow, Russia</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

                <li class="offline">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/random-avatar8.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Anna <strong>Opichia</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

              </ul>

            </div>

            <div class="tab-pane" id="mmenu-history">
              <h5><strong>Chat</strong> History</h5>

              <ul class="history-list">
                
                <li class="online">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/ici-avatar.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                      <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

                <li class="busy">
                  <div class="media">
                    
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/arnold-avatar.jpg" alt>
                    </a>
                    <span class="badge badge-red unread">3</span>

                    <div class="media-body">
                      <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                      <small>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</small>
                      <span class="badge badge-outline status"></span>
                    </div>

                  </div>
                </li>

                <li class="offline">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/peter-avatar.jpg" alt>

                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Peter <strong>Kay</strong></h6>
                      <small>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit </small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

              </ul>
                
            </div>

            <div class="tab-pane" id="mmenu-friends">
              <h5><strong>Friends</strong> List</h5>
                <ul class="favourite-list">
                
                <li class="online">
                  <div class="media">
                    
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/arnold-avatar.jpg" alt>
                    </a>
                    <span class="badge badge-red unread">3</span>

                    <div class="media-body">
                      <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
                      <span class="badge badge-outline status"></span>
                    </div>

                  </div>
                </li>

                <li class="offline">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/random-avatar8.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Anna <strong>Opichia</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

                <li class="busy">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/random-avatar1.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Lucius <strong>Cashmere</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

                <li class="online">
                  <div class="media">
                    <a class="pull-left profile-photo" href="#">
                      <img class="media-object" src="__WAY__images/ici-avatar.jpg" alt>
                    </a>
                    <div class="media-body">
                      <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                      <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
                      <span class="badge badge-outline status"></span>
                    </div>
                  </div>
                </li>

              </ul>
            </div>

            <div class="tab-pane pane-settings" id="mmenu-settings">
              <h5><strong>Chat</strong> Settings</h5>

              <ul class="settings">
               
                <li>
                  <div class="form-group">
                    <label class="col-xs-8 control-label">Show Offline Users</label>
                    <div class="col-xs-4 control-label">
                      <div class="onoffswitch greensea">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-offline" checked="">
                        <label class="onoffswitch-label" for="show-offline">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="form-group">
                    <label class="col-xs-8 control-label">Show Fullname</label>
                    <div class="col-xs-4 control-label">
                      <div class="onoffswitch greensea">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-fullname">
                        <label class="onoffswitch-label" for="show-fullname">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="form-group">
                    <label class="col-xs-8 control-label">History Enable</label>
                    <div class="col-xs-4 control-label">
                      <div class="onoffswitch greensea">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-history" checked="">
                        <label class="onoffswitch-label" for="show-history">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="form-group">
                    <label class="col-xs-8 control-label">Show Locations</label>
                    <div class="col-xs-4 control-label">
                      <div class="onoffswitch greensea">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-location" checked="">
                        <label class="onoffswitch-label" for="show-location">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="form-group">
                    <label class="col-xs-8 control-label">Notifications</label>
                    <div class="col-xs-4 control-label">
                      <div class="onoffswitch greensea">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-notifications">
                        <label class="onoffswitch-label" for="show-notifications">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="form-group">
                    <label class="col-xs-8 control-label">Show Undread Count</label>
                    <div class="col-xs-4 control-label">
                      <div class="onoffswitch greensea">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-unread" checked="">
                        <label class="onoffswitch-label" for="show-unread">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
                
            </div><!-- tab-pane -->
              
          </div><!-- tab-content -->
        </div>






      </div>
      <!-- Make page fluid-->




    </div>
    <!-- Wrap all page content end -->



    <section class="videocontent" id="video"></section>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__WAY__js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__WAY__js/vendor/bootstrap/bootstrap.min.js"></script>
   <!--  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sons-of-obsidian"></script> -->
    <script type="text/javascript" src="__WAY__js/vendor/mmenu/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript" src="__WAY__js/vendor/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="__WAY__js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="__WAY__js/vendor/animate-numbers/jquery.animateNumbers.js"></script>
    <script type="text/javascript" src="__WAY__js/vendor/videobackground/jquery.videobackground.js"></script>
    <script type="text/javascript" src="__WAY__js/vendor/blockui/jquery.blockUI.js"></script>\

    <script src="__WAY__js/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="__WAY__js/vendor/datatables/ColReorderWithResize.js"></script>
    <script src="__WAY__js/vendor/datatables/colvis/dataTables.colVis.min.js"></script>
    <script src="__WAY__js/vendor/datatables/tabletools/ZeroClipboard.js"></script>
    <script src="__WAY__js/vendor/datatables/tabletools/dataTables.tableTools.min.js"></script>
    <script src="__WAY__js/vendor/datatables/dataTables.bootstrap.js"></script>

    <script src="__WAY__js/vendor/chosen/chosen.jquery.min.js"></script>

    <script src="__WAY__js/minimal.min.js"></script>

    <script>
    $(function(){

      // Add custom class to pagination div
      $.fn.dataTableExt.oStdClasses.sPaging = 'dataTables_paginate paging_bootstrap paging_custom';

      /*************************************************/
      /**************** BASIC DATATABLE ****************/
      /*************************************************/

      /* Define two custom functions (asc and desc) for string sorting */
      jQuery.fn.dataTableExt.oSort['string-case-asc']  = function(x,y) {
          return ((x < y) ? -1 : ((x > y) ?  1 : 0));
      };
       
      jQuery.fn.dataTableExt.oSort['string-case-desc'] = function(x,y) {
          return ((x < y) ?  1 : ((x > y) ? -1 : 0));
      };

       /* Build the DataTable with third column using our custom sort functions */
      var oTable01 = $('#basicDataTable').dataTable({
        "sDom":
          "R<'row'<'col-md-6'l><'col-md-6'f>r>"+
          "t"+
          "<'row'<'col-md-4 sm-center'i><'col-md-4'><'col-md-4 text-right sm-center'p>>",
        "oLanguage": {
          "sSearch": ""
        },
        "aaSorting": [ [0,'asc'], [1,'asc'] ],
        "aoColumns": [
          null,
          null,
          { "sType": 'string-case' },
          null,
          null
        ],
        "fnInitComplete": function(oSettings, json) { 
          $('.dataTables_filter input').attr("placeholder", "Search");
        }
      });

      /* Add a click handler to the rows - this could be used as a callback */
    

      // Append delete button to table
      var deleteRowLink = '<a href="#" id="deleteRow" class="btn btn-red btn-xs delete-row">Delete selected row</a>'
      $('#basicDataTable_wrapper').append(deleteRowLink);

      /* Add a click handler for the delete row */
      $('#deleteRow').click( function() {
        var anSelected = fnGetSelected(oTable01);
        if (anSelected.length !== 0 ) {
          oTable01.fnDeleteRow(anSelected[0]);
          $('#deleteRow').stop().fadeOut(300);
        }
      });

      /* Get the rows which are currently selected */
      function fnGetSelected(oTable01Local){
        return oTable01Local.$('tr.row_selected');
      };

      /*******************************************************/
      /**************** INLINE EDIT DATATABLE ****************/
      /*******************************************************/

      // function restoreRow (oTable02, nRow){
      //   var aData = oTable02.fnGetData(nRow);
      //   var jqTds = $('>td', nRow);
        
      //   for ( var i=0, iLen=jqTds.length ; i<iLen ; i++ ) {
      //     oTable02.fnUpdate( aData[i], nRow, i, false );
      //   }
        
      //   oTable02.fnDraw();
      // };

      // function editRow (oTable02, nRow){
      //   var aData = oTable02.fnGetData(nRow);
      //   var jqTds = $('>td', nRow);
      //   jqTds[0].innerHTML = '<input type="text" value="'+aData[0]+'">';
      //   jqTds[1].innerHTML = '<input type="text" value="'+aData[1]+'">';
      //   jqTds[2].innerHTML = '<input type="text" value="'+aData[2]+'">';
      //   jqTds[3].innerHTML = '<input type="text" value="'+aData[3]+'">';
      //   jqTds[4].innerHTML = '<input type="text" value="'+aData[4]+'">';
      //   jqTds[5].innerHTML = '<a class="edit save" href="#">Save</a><a class="delete" href="#">Delete</a>';
      // };

      // function saveRow (oTable02, nRow){
      //   var jqInputs = $('input', nRow);
      //   oTable02.fnUpdate( jqInputs[0].value, nRow, 0, false );
      //   oTable02.fnUpdate( jqInputs[1].value, nRow, 1, false );
      //   oTable02.fnUpdate( jqInputs[2].value, nRow, 2, false );
      //   oTable02.fnUpdate( jqInputs[3].value, nRow, 3, false );
      //   oTable02.fnUpdate( jqInputs[4].value, nRow, 4, false );
      //   oTable02.fnUpdate( '<a class="edit" href="#">Edit</a><a class="delete" href="#">Delete</a>', nRow, 5, false );
      //   oTable02.fnDraw();
      // };



      // var oTable02 = $('#inlineEditDataTable').dataTable({
      //   "sDom":
      //     "R<'row'<'col-md-6'l><'col-md-6'f>r>"+
      //     "t"+
      //     "<'row'<'col-md-4 sm-center'i><'col-md-4'><'col-md-4 text-right sm-center'p>>",
      //   "oLanguage": {
      //     "sSearch": ""
      //   },
      //   "aoColumnDefs": [
      //     { 'bSortable': false, 'aTargets': [ "no-sort" ] }
      //   ],
      //   "fnInitComplete": function(oSettings, json) { 
      //     $('.dataTables_filter input').attr("placeholder", "Search");
      //   }
      // });

      // Append add row button to table
      // var addRowLink = '<a href="#" id="addRow" class="btn btn-green btn-xs add-row">Add row</a>'
      // $('#inlineEditDataTable_wrapper').append(addRowLink);

      // var nEditing = null;

      // // Add row initialize
      // $('#addRow').click( function (e) {
      //   e.preventDefault();

      //   // Only allow a new row when not currently editing
      //   if ( nEditing !== null ) {
      //     return;
      //   }
        
      //   var aiNew = oTable02.fnAddData([ '', '', '', '', '', '<a class="edit" href="">Edit</a>', '<a class="delete" href="">Delete</a>' ]);
      //   var nRow = oTable02.fnGetNodes(aiNew[0]);
      //   editRow(oTable02, nRow);
      //   nEditing = nRow;

      //   $(nRow).find('td:last-child').addClass('actions text-center');
      // });

      // // Delete row initialize
      // $(document).on( "click", "#inlineEditDataTable a.delete", function(e) {
      //   e.preventDefault();
        
      //   var nRow = $(this).parents('tr')[0];
      //   oTable02.fnDeleteRow( nRow );
      // });

      // Edit row initialize
      // $(document).on( "click", "#inlineEditDataTable a.edit", function(e) {
      //   e.preventDefault();
         
      //   /* Get the row as a parent of the link that was clicked on */
      //   var nRow = $(this).parents('tr')[0];
         
      //   if (nEditing !== null && nEditing != nRow){
      //     /* A different row is being edited - the edit should be cancelled and this row edited */
      //     restoreRow(oTable02, nEditing);
      //     editRow(oTable02, nRow);
      //     nEditing = nRow;
      //   }
      //   else if (nEditing == nRow && this.innerHTML == "Save") {
      //     /* This row is being edited and should be saved */
      //     saveRow(oTable02, nEditing);
      //     nEditing = null;
      //   }
      //   else {
      //     /* No row currently being edited */
      //     editRow(oTable02, nRow);
      //     nEditing = nRow;
      //   }
      // });

      /******************************************************/
      /**************** DRILL DOWN DATATABLE ****************/
      /******************************************************/

      // var anOpen = [];

      // var oTable03 = $('#drillDownDataTable').dataTable({
      //   "sDom":
      //     "R<'row'<'col-md-6'l><'col-md-6'f>r>"+
      //     "t"+
      //     "<'row'<'col-md-4 sm-center'i><'col-md-4'><'col-md-4 text-right sm-center'p>>",
      //   "oLanguage": {
      //     "sSearch": ""
      //   },
      //   "aoColumnDefs": [
      //     { 'bSortable': false, 'aTargets': [ "no-sort" ] }
      //   ],
      //   "aaSorting": [[ 1, "asc" ]],
      //   "bProcessing": true,
      //   // "sAjaxSource": "__WAY__js/vendor/datatables/ajax/sources/objects.txt",
      //   "sAjaxSource": "",
      //   "aoColumns": [
      //     {
      //       "mDataProp": null,
      //       "sClass": "control text-center",
      //       "sDefaultContent": '<a href="#"><i class="fa fa-plus"></i></a>'
      //     },
      //     { "mDataProp": "engine" },
      //     { "mDataProp": "browser" },
      //     { "mDataProp": "grade" }
      //   ],
      //   "fnInitComplete": function(oSettings, json) { 
      //     $('.dataTables_filter input').attr("placeholder", "Search");
      //   }
      // });

      // $(document).on( 'click', '#drillDownDataTable td.control', function () {
      //   var nTr = this.parentNode;
      //   var i = $.inArray( nTr, anOpen );

      //   $(anOpen).each( function () {
      //     if ( this !== nTr ) {
      //       $('td.control', this).click();
      //     }
      //   });
        
      //   if ( i === -1 ) {
      //     $('i', this).removeClass().addClass('fa fa-minus');
      //     $(this).parent().addClass('drilled');
      //     var nDetailsRow = oTable03.fnOpen( nTr, fnFormatDetails(oTable03, nTr), 'details' );
      //     $('div.innerDetails', nDetailsRow).slideDown();
      //     anOpen.push( nTr );
      //   }
      //   else {
      //     $('i', this).removeClass().addClass('fa fa-plus');
      //     $(this).parent().removeClass('drilled');
      //     $('div.innerDetails', $(nTr).next()[0]).slideUp( function () {
      //       oTable03.fnClose( nTr );
      //       anOpen.splice( i, 1 );
      //     } );
      //   }

      //   return false;
      // });
       
      // function fnFormatDetails( oTable03, nTr ){
      //   var oData = oTable03.fnGetData( nTr );
      //   var sOut =
      //     '<div class="innerDetails">'+
      //       '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
      //         '<tr><td>Rendering engine:</td><td>'+oData.engine+'</td></tr>'+
      //         '<tr><td>Browser:</td><td>'+oData.browser+'</td></tr>'+
      //         '<tr><td>Platform:</td><td>'+oData.platform+'</td></tr>'+
      //         '<tr><td>Version:</td><td>'+oData.version+'</td></tr>'+
      //         '<tr><td>Grade:</td><td>'+oData.grade+'</td></tr>'+
      //       '</table>'+
      //     '</div>';
      //   return sOut;
      // };

      /****************************************************/
      /**************** ADVANCED DATATABLE ****************/
      /****************************************************/

      var oTable04 = $('#advancedDataTable').dataTable({
        "sDom":
          "<'row'<'col-md-4'l><'col-md-4 text-center sm-left'T C><'col-md-4'f>r>"+
          "t"+
          "<'row'<'col-md-4 sm-center'i><'col-md-4'><'col-md-4 text-right sm-center'p>>",
         "oLanguage": {
          "sSearch": ""
        },
        "oTableTools": {
          "sSwfPath": "__WAY__js/vendor/datatables/tabletools/swf/copy_csv_xls_pdf.swf",
          "aButtons": [
            "copy",
            "print",
            {
              "sExtends":    "collection",
              "sButtonText": 'Save <span class="caret" />',
              "aButtons":    [ "csv", "xls", "pdf" ]
            }
          ]
        },
        "fnInitComplete": function(oSettings, json) { 
          $('.dataTables_filter input').attr("placeholder", "Search");
        },
        "oColVis": {
          "buttonText": '<i class="fa fa-eye"></i>'
        }
      });

      $('.ColVis_MasterButton').on('click', function(){
        var newtop = $('.ColVis_collection').position().top - 45; 

        $('.ColVis_collection').addClass('dropdown-menu');
        $('.ColVis_collection>li>label').addClass('btn btn-default')     
        $('.ColVis_collection').css('top', newtop + 'px');
      });

      $('.DTTT_button_collection').on('click', function(){
        var newtop = $('.DTTT_dropdown').position().top - 45;   
        $('.DTTT_dropdown').css('top', newtop + 'px');
      });

      //initialize chosen
      $('.dataTables_length select').chosen({disable_search_threshold: 10});
      
    })

      //button不能提交，用jS写跳转提交。
      $('.tijiao').click(function(){
        //获取输入框的值  .val()是获取input标签里面的值。
        var p = $('.number').val();
        location.href="index.php?admin=1&c=menus&a=list&p="+p;
      })





      var c = 0;//设置一个开关
      //双击修改标题
      $('.name').dblclick(function(){
        //如果c的条件与声明的不成立，则结果为真。
        if(!c){
          c=1; 
        }else{
          return false;
        }

            var td = $(this);

            //获取当前标题内容
            var title = td.html();

            //将td内的内容替换成input   并将原本的页面内容作为input的value
            td.html('<input type ="text" value ="'+title+'"/>');
            //给input添加获得光标事件  
            td.find('input').focus();
            //当鼠标点击Input外面时， .blur是鼠标离开 
            td.find('input').blur(function(){
                //获取当前修改后的内容,$(this)是修改后的内容
                var val = $(this).val();

                //判断修改后的内容与原先是否一致
                if(title == val){
                    td.html(val);
                    c = 0;//重置开关
                    return false;
                }
                //如果内容不一样则获取当前数据的id并执行ajax
                var id = td.prev().text();//标题td的前一个td是数据id；td.prev()此td的前一个td，.text()获取文本内容
                //无刷新获取标题修改路径
                // var url='index.php?admin=1&c=news&a=edit&id='+id;
                //执行ajax无页面刷新
                $.ajax({  
                    type:'post',
                    // url:url,
                    data:{'name':val},
                    success:function(cate){

                        if(cate == 1){
                          alert ('修改成功');
                        }else{
                          alert ('修改失败');
                        }
                        
                  }
              })
              td.html(val);
                c = 0;//重置开关
       })     

      })


      // $('.sort-alpha').css({'width':'100px','color':'#fff'});

      $('#tbody').on('click','.plus',function(){
          // alert();
          var plus = $(this);
          //获取i标签的父级的前一级，就是id的标签
          var id = plus.parent().prev().text();
          // alert (id);
          //获取到当前点击项的tr 
          var tr = plus.parents('tr');
          // alert (tr);
          // //获取tr的类名
          var clas = tr.attr('class');
          

          //如果一开始没有类名 则child_12;  如果有了 child_12_23
          clas = clas?clas+'_'+id:'child_'+id;
          //如果i标签是加号
          if(plus.is('.icon-plus')){
            //点击后减去加号，添加减号
            plus.removeClass('icon-plus');
            plus.addClass('icon-minus');
            }else{
              //否则点击后减去减号，添加加号。
              plus.addClass('icon-plus');
              plus.removeClass('icon-minus');
          //如果clas=child_12,那么所有以这个名字为开头的tr都会被移除 
          
              $('tr[class^="'+clas+'"]').remove();

              return false;
            }

            //加层级标签属性，在i标签里加入了一个lv层级属性，lv="0"则层级为零级；
            //获取当前标签的属性值
            var lv = plus.attr('lv');
            //属性值增加
            lv++;
            //声明一个空格字符串
            var space = '';
            //根据增加后的lv进行循环 循环拼接空格 
            for(var j=0;j<=lv;j++){
              space += "&nbsp;&nbsp;&nbsp;";
            }
           
          $.ajax({
            type:'post',
            data:{id:id},
            dataType:'json',
            success:function(cate){
              // alert(cate);
              var str = '';
              for(var i in cate){
                  str += '<tr class="'+clas+'" pid="0">';
                  str +='<td><input name = "id[]" class="idd" type="checkbox" value = "'+cate[i].id+'">'+cate[i].id+'</td>';
                   str +='<td class="name">';

                   if(cate[i].child==1){
                    str += space+cate[i].name+'<i class="icon-plus plus" lv="'+lv+'" style="cursor:pointer"></i>';
                     }else{str += space+cate[i].name;}

                    str +='</td>';
                    str +='<td class="order">'+cate[i].order+'</td>';
                    str +='<td class="pid">'+cate[i].pid+'</td>';
                    str +='<td class="actions text-center" style="text-align:center;">';
                    str +='<i class="icon-edit"></i>';
                    str +='<a class="edit" href="index.php?admin=1&c=menus&a=edit&id='+cate[i].id+'">编辑</a>';
                    str +='<i class="icon-trash"></i>';
                    str +='<a class="delete" onclick="return confirm('+'"确定要删除吗"'+')" href="index.php?admin=1&c=menus&a=delete&id='+cate[i].id+'">删除</a>';
                     str +='</td>';
                     str +='</tr>';
                      }
                      // alert(str);
                  tr.after(str);
                 } 
            
          })

      })

    </script>
  </body>
</html>
      
