@charset "utf-8";
/* CSS Document */

/*CSS 初始化*/
body, v, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{margin:0;padding:0;}
body {font-size:12px;font-family:"微软雅黑";line-height:19px;}
fieldset, img { border:0;}
img{ display:block;}
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%;}
em { font-style:normal; }
input, button, select, textarea{ outline:none;}
textarea { resize:none; }
a { color:#333;text-decoration:none; }
a:focus{outline:none; -moz-outline:none;}		/*解决  去除 a 链接点击后有一个虚线的边框出现*/



/*a:hover{ color:#63A61D;}      #73B52D       */

